doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= title
    a(href="/update-cobj") Add to this table
    table
      thead
        tr
          th Name
          th Publisher
          th Price
      tbody
        each item in data
          tr
            td= item.properties.name
            td= item.properties.publisher
            td= item.properties.price
